@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");

* {
  font-family: "Tiro Bangla", serif;
}
body {
  background-color: black;
}
/* .main-container {
} */
.home-container {
  box-sizing: border-box;
}
.navbar-main {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid crimson;
}
.netflix-icon img {
  width: 5.5rem;
  height: 4.5rem;
}
.navbar-brand {
  padding: 0;
}
.navbar {
  padding: 0;
}
a {
  color: crimson;
  text-decoration: none;
  text-align: center;
}
.nav-link {
  color: crimson;
  font-weight: 500;
}
a:hover {
  color: white;
  transition: 500ms;
}
.nav-link:hover {
  color: white;
}
.navbar-pos {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition: all 500ms;
}
.nav-black-bg {
  background-color: #111;
  border-bottom: solid 1.2px crimson;
}
.row-home {
  margin-bottom: 3rem;
  color: white;
  padding: 1.2rem;
}
.row-poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1.5rem;
}
.row-poster img {
  object-fit: cover;
  width: 200px;
  height: 250px;
  max-height: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: transform 400ms;
  border: 1.5px solid white;
}
.row-poster img:hover {
  transform: scale(1.08);
  cursor: pointer;
  border-color: crimson;
}
.row-poster::-webkit-scrollbar {
  height: 0.35rem;
}
.row-poster::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 100vw;
}
.row-poster::-webkit-scrollbar-thumb {
  background-color: crimson;
  border-radius: 100vw;
}
.banner {
  min-height: 28rem;
  max-height: auto;
  color: white;
}
.banner-bg {
  height: 27.7rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-container {
  height: 83%;
  max-height: auto;
  width: 50%;
  padding: 6rem 2rem 0 2rem;
}
.banner-button {
  width: 5rem;
  height: 2rem;
  padding-top: 3px;
  margin: 0.8rem 0.5rem 0 0;
  outline: none;
  border: 1px solid white;
  background-color: rgba(51, 51, 51, 0.4);
  color: white;
  cursor: pointer;
}
.banner-button:hover {
  color: crimson;
  transition: 500ms;
}
p {
  font-size: 0.9rem;
  margin-top: 0.8rem;
}
.fadeBottom {
  height: 5rem;
  background: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.6), #111);
  border-bottom: 1.5px solid crimson;
}
.bg-footer {
  background: #303030;
  border-top: 1.2px solid crimson;
}
.color-white {
  color: white;
}
.height {
  min-height: 95vh;
  max-height: auto;
}
textarea {
  resize: none;
}
.contact-border {
  border: 1px solid gray;
  margin: 0.5rem;
  border-radius: 1rem;
}
.form-control {
  width: 20rem;
}
.w-a {
  width: auto;
}
.btn-contact {
  background-color: crimson;
  color: white;
  font-weight: 400;
  width: 7rem;
  border-radius: 2rem;
}
.border-btm {
  border-bottom: 2px solid crimson;
}
.card {
  background-color: gray;
  text-align: left;
}
.about-btn {
  width: 275px;
  margin-top: 3rem;
  background-color: crimson;
  color: black;
  border: 1px solid white;
  font-size: large;
}
.about-btn:hover {
  background-color: crimson;
  color: white;
}
.about-btn:focus {
  background-color: crimson;
  color: white;
  box-shadow: none;
}
.contact-banner {
  width: 100%;
  height: 70vh;
  background-image: url(./Media/customer-service.jpg);
  background-size: cover;
  background-position: top;
  border-bottom: 1.5px solid crimson;
}
.h-100 {
  height: 100px;
}
.error-pg {
  padding-top: 5rem;
  text-align: center;
}
.navbar-rotate {
  transform: rotate(90deg);
  line-height: 1.4;
}
.player-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75vh;
  margin: 2rem 0;
  position: relative;
}
.react-player {
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid white;
  background-color: black;
}
.search-container {
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.search-bar {
  width: 19rem;
  padding: 0.3rem 1rem 0 1rem;
  border: 1.5px solid white;
  background-color: #111;
  border-radius: 1.5rem;
  color: white;
  margin-right: 0.5rem;
}
::placeholder {
  color: white;
}
.search-container > form > button {
  background-color: #111;
  padding: 0.3rem 0.9rem 0 0.8rem;
  border-radius: 1.5rem;
  border: 1.5px solid white;
  color: white;
  cursor: pointer;
}
.search-container > form > button:hover {
  color: crimson;
  transition: 300ms;
}
.trailer-container {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  background-image: url(./Media//tv-banshee-breaking-bad-vikings-wallpaper.jpg);
  background-size: cover;
}
.trailer-bg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
textarea::placeholder {
  color: gray;
}
.banner-button > img {
  width: 1rem;
  margin-right: 5px;
  padding-bottom: 4px;
}
.banner-trailer-video {
  height: 100vh;
}
.home-wrapper {
  display: flex;
  padding: 2rem;
  width: 95%;
  height: 90%;
  position: fixed;
  top: 5%;
  left: 2.5%;
}
.home-player {
  padding: 1rem;
  border-radius: 3rem;
  background-color: black;
  border: 1px solid black;
  box-shadow: 0 0 2rem crimson;
}
.bg-blur {
  filter: blur(5px);
}
.display-b {
  display: block;
  z-index: 1;
}
.display-none {
  display: none;
}
.close-icon {
  width: 2rem;
  position: absolute;
  left: 99%;
  top: -4%;
}

@media screen and (max-width: 725px) {
  .banner-container {
    width: 100%;
  }
}
